<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BMI</title>
    <!-- 开发环境版本，包含了有帮助的命令行警告 -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- UIkit CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/css/uikit.min.css" />

    <!-- UIkit JS -->
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/uikit@3.7.0/dist/js/uikit-icons.min.js"></script>
    <meta content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0" name="viewport" />
    <meta name="apple-mobile-web-app-capable" content="no" />
    <meta name="format-detection" content="telephone=no,email=no,adress=no" />
    <style>
        body {
            margin: 0;
            padding: 0;
            background-color: #f0f0f0;
            display: flex;
            justify-content: center;
            height: 100vh;
            align-items: stretch;
        }

        #app {
            background-color: #fff;
            max-width: 90%;
            width: 1000px;
            padding: 5%;
        }
    </style>
</head>

<body>
    <div id="app">

        <div>
            <h1>BMI</h1>
            <input v-model="height" type="number" placeholder="身高(m)">m
            <p></p>
            <input v-model="weight" type="number" placeholder="体重(kg)">kg
            <p>
                <span v-if="bmi<18.5 || bmi == null" class="uk-label uk-label-default">bmi 小于 18.5 偏低</span>
                <span v-if="(bmi>=18.5 && bmi<24) || bmi == null" class="uk-label uk-label-success">bmi 18.5 ~ 24
                    正常</span>
                <span v-if="(bmi>=24 && bmi<=30) || bmi == null" class="uk-label uk-label-warning">bmi 24 ~ 30 超重</span>
                <span v-if="bmi>30 || bmi == null" class="uk-label uk-label-danger">bmi 大于 30 肥胖</span>
            </p>
            <p v-if="bmi">你的BMI: <span v-html="bmi"></span></p>
            <p v-if="bmi">根据你的身高{{height}}m，你的正常体重上限是:{{bmiMax}}kg</p>
            <p v-if="bmi">根据你的身高{{height}}m，你的正常体重下限是:{{bmiMin}}kg</p>
            <p v-if="bmi">根据你的身高{{height}}m，你的最佳体重应该是:{{bmiWeight}}kg</p>
            <p v-if="bmi">根据你的体重{{weight}}kg，你的最佳身高应该是:{{bmiHeight}}m</p>
            <hr>
            <a href="https://baike.baidu.com/item/%E8%BA%AB%E4%BD%93%E8%B4%A8%E9%87%8F%E6%8C%87%E6%95%B0/8706438?fromtitle=BMI"
                target="blank">BMI(身体质量指数)
                指数是什么(1)?</a>
        </div>

    </div>
</body>

</html>
<script>

    const app = new Vue({

        el: '#app',

        data: {
            height: null,
            weight: null,
            bmi: null,
            bmiMin: null,
            bmiMax: null
        },

        methods: {

            calculator: () => {

                if (app.height != null && app.weight != null) {

                    let height = parseFloat(app.height)
                    let weight = parseFloat(app.weight)

                    if (height > 3 || height < 1) {

                        alert("你已超过人类的限制")

                        app.height = null
                        app.weight = null

                        return
                    }

                    app.bmi = (weight / (height * height)).toFixed(1)
                    app.bmiMax = (height * height * 24).toFixed(1)
                    app.bmiMin = (height * height * 18.5).toFixed(1)
                    app.bmiWeight = ((height * height) * 22.5).toFixed(2)
                    app.bmiHeight = Math.sqrt(weight / 22.5).toFixed(2)
                }
            }
        },

        watch: {

            height: (oldVal,newVal) => {

                app.calculator()
            },

            weight: (oldVal,newVal) => {

                app.calculator()
            },
        }
    })

</script>
<script>
    var _hmt = _hmt || [];
    (function () {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?e5eab5d8d1cdf6d59a91ff0d4229f77d";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm,s);
    })();
</script>